
    @model IEnumerable<DomainModel.Headline>
      @{
              var firstHead= Model.Where(p=>p.HeadLine=="NCEC").SingleOrDefault();
              @* var Apple= Model.Where(p=>p.HeadLine=="Apple").SingleOrDefault();
              var HERITAGE = Model.Where(p=>p.HeadLine=="HERITAGE").SingleOrDefault();
              var vision= Model.Where(p=>p.HeadLine=="VISION & VALUES").SingleOrDefault();
              var STRATEGY= Model.Where(p=>p.HeadLine=="STRATEGY").SingleOrDefault();
              var firstHead= Model.Where(p=>p.HeadLine=="NCEC").SingleOrDefault(); *@

      }
    <section class="glimpse container">
     
     
      <div class="Gnece TAJ MRB">
        <h1><em>aglimpse into 
            who we are …</em>
        </h1>

      </div>

@{
    foreach(var item in Model) 
    {
     <div class="Heritage TAJ MRB">
          <div class="heri">
            <h2>@item.HeadLine</h2>
            @Html.Raw(@item.Description)
            </div>
      </div>

  }
}
     


    </section>